/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
    /* Fondo negro */
}

.container {
    flex-grow: 1;
    background-color: #1c1c1e;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    /* Sombra para efecto 3D */
    padding: 20px;
}