/* Card customization */
.card {
    background-color: #2c2c2e;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Sombra para efecto 3D */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.card-body .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0;
}

.card-body .name-price {
    display: flex !important;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0;
}

.card-body .name-price p {
    border-color: 1px solid #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 3px 5px;
}

.card-body .btn {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.card-body .btn:hover {
    transform: scale(1.05);
}

.card-body .btn.bg-primary {
    background-color: #1E90FF;
    border: none;
    border-radius: 0;
}

.card-body .btn.bg-primary:hover {
    background-color: #FF4500;
    color: #FFFFFF;
}

.card-body .btn.btn-success {
    background-color: #1DB954;
    border: none;
    border-radius: 0;
}

.card-body .btn.btn-success:hover {
    background-color: #FF4500;
    color: #FFFFFF;
}

/* Alert customization */
.alert-success {
    background-color: #1DB954;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

/* Form customization */
.form-container {
    background-color: #2c2c2e;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.form-container .form-header {
    background-color: #121212;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #1DB954;
}

.form-container .form-label {
    color: #FFFFFF;
}

.form-container .form-control {
    background-color: #1c1c1e;
    border: 1px solid #1E90FF;
    color: #FFFFFF;
}

.form-container .form-control:focus {
    background-color: #1c1c1e;
    border-color: #FF4500;
    color: #FFFFFF;
    box-shadow: none;
}

.form-container .btn-primary {
    background-color: #1E90FF;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.form-container .btn-primary:hover {
    background-color: #FF4500;
    color: #FFFFFF;
    transform: scale(1.05);
}