footer {
    background-color: #121212;
    padding: 40px 0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Sombra para efecto 3D */
}

footer h5 {
    font-weight: bold;
    color: #1DB954;
    cursor: default;
}

footer .title-footer {
    font-weight: bold;
    color: #1DB954 !important;
}

footer p {
    color: #FFFFFF;
}

footer .list-links li a {
    color: #ffffff !important;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .list-links li a:hover {
    color: #FF4500 !important;
    text-decoration: underline;
}

.links ul li a {
    text-decoration: none;
    color: #1E90FF !important;
}

.links ul li a:hover {
    color: #FF4500 !important;
    text-decoration: underline;
}