/* Navbar customization */
.custom-navbar {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Sombra para efecto 3D */
    border-radius: 10px;
}

.custom-navbar .navbar-brand {
    font-weight: bold;
    color: #1DB954 !important;
}

.custom-navbar .navbar-brand:hover {
    font-weight: bold;
    color: #FF4500 !important;
    transition: ease-in-out 0.3s;
}

.header img {
    width: 50px;
    height: 50px;
}

.custom-navbar .nav-link {
    color: #1E90FF !important;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: #FF4500 !important;
}

.custom-navbar .shopping-cart-icon i {
    font-size: 1.5rem;
    color: #1E90FF;
}

.custom-navbar .shopping-cart-icon i:hover {
    font-size: 1.5rem;
    color: #1DB954;
    transition: color 0.3s ease;
}

.custom-navbar .dropdown-menu {
    background-color: #121212;
    border: none;
}

.custom-navbar .dropdown-item {
    color: #1E90FF;
}

.custom-navbar .dropdown-item:hover {
    background-color: #FF4500;
    color: #FFFFFF;
}

.custom-navbar .go-to-cart-link:hover {
    color: #FF4500 !important;
}