footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

footer h5 {
    font-weight: bold;
    color: #343a40;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .bg-dark {
    background-color: #343a40 !important;
}

.links ul li a {
    text-decoration: none;
}